$site-width: 100%;

body {
  margin: 0 auto;
  max-width: $site-width;
  padding-top: 105px;
  @media (min-width: 550px) {
    padding-top: 136px;
  }
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.update-now,
.update-now:hover {
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: .5em;
  text-align: center;
  &:hover {
    background-color: darken(#2ecc40, 5%);
  }
}
.hint--top,
.hint--bottom {
  &,
  &:hover,
  &:focus {
    &:after,
    &:before {
      margin-left: 0;
      transform: translate(-50%, 8px);
    }
  }
}
