.navbar {
  display: table;
  height: 48px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  > div {
    box-sizing: border-box;
    cursor: pointer;
    display: table-cell;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    white-space: initial;
    width: 33.3333333333333%;
    i {
      display: inline-block;
      height: 20px;
      margin-right: 4px;
      position: relative;
      text-align: right;
      top: -2px;
      vertical-align: middle;
      width: 20px;
      svg {
        fill: currentColor;
      }
    }
  }
}
