.settings-pane {
  .opt {
    align-items: center;
    border-top: 1px solid #efefef;
    display: flex;
    padding: 1.1em 0;
    &:last-child {
      padding-bottom: 0;
    }
    &.quit {
      padding-bottom: 0;
    }
    span:first-child {
      flex: 1.75 0 0;
    }
    select,
    .swatches {
      flex: 1.25 0 0;
      margin: 0;
      a {
        float: left;
        height: 35px;
        width: 50%;
      }
    }
    .github,
    .icon-github {
      height: 48px;
      width: 48px;
    }
    .icon-quit {
      height: 24px;
      margin-right: 13px;
      width: 24px;
    }
  }
  p.version {
    font-size: .8em;
    font-style: italic;
    margin: 0;
    text-align: right;
  }
}
