.spinner {
  height: 40px;
  position: relative;
  width: 40px;
}
.double-bounce1,
.double-bounce2 {
  animation: spinBounce 2s infinite ease-in-out;
  background-color: #333;
  border-radius: 50%;
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
}
.double-bounce2 {
  animation-delay: -1s;
}
@keyframes spinBounce {
  0%, 100% { transform: scale(0); }
  50% { transform: scale(1); }
}
