$volume-color: #fff;

[type=range] {
  -webkit-appearance: none;
  margin: 7px 0;
  width: 100%;
  &:focus {
    outline: none;
    &::-webkit-slider-runnable-track {
      background: $volume-color;
    }
    &::-ms-fill-lower {
      background: $volume-color;
    }
    &::-ms-fill-upper {
      background: $volume-color;
    }
  }
  &::-webkit-slider-runnable-track {
    background: $volume-color;
    cursor: pointer;
    height: 2px;
    width: 100%;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $volume-color;
    cursor: pointer;
    height: 14px;
    margin-top: -6px;
    width: 3px;
  }
  &::-moz-range-track {
    background: $volume-color;
    cursor: pointer;
    height: 3px;
    width: 100%;
  }
  &::-moz-range-thumb {
    background: $volume-color;
    cursor: pointer;
    height: 17px;
    width: 5px;
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 3px;
    width: 100%;
  }
  &::-ms-fill-lower {
    background: $volume-color;
  }
  &::-ms-fill-upper {
    background: $volume-color;
  }
  &::-ms-thumb {
    background: $volume-color;
    border: 0 solid $volume-color;
    cursor: pointer;
    height: 3px;
    width: 5px;
  }
}
