.app-container {

  .main-panel {
    padding-bottom: 80px;
    transition: width, padding, margin-left 0.25s ease;
    @media (min-width: 40.0rem) {
      padding-bottom: 0;
      width: calc(100% - 300px);
      margin-left: 300px;
    }
  }

  &.desktop {
    .upload-files {
      align-items: center;
      color: #fff;
      display: flex;
      font-size: 19px;
      height: 100%;
      justify-content: center;
      position: fixed;
      top: 0;
      visibility: hidden;
      width: 100%;
      z-index: 70;
      flex-wrap: wrap;
      .inner {
        flex: none;
        text-align: center;
        h3 {
          margin-bottom: 15px;
        }
      }
      .gradient-name {
        bottom: 15px;
        font-size: 14px;
        font-style: italic;
        position: absolute;
        right: 15px;
      }
    }
    .inactiveDrop {

      &.activeDrop {
        .upload-files {
          animation-name: fadeInDown;
          animation-duration: 0.25s;
          animation-fill-mode: both;
          visibility: visible;
        }
      }
    }
  }
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    right: 0;
    bottom: 0;
  }
}
