{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "syntax-async-functions",
    "transform-async-functions",
    "transform-async-to-generator",
    "transform-regenerator",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    }
  }
}
