{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true,
    "__DESKTOP__": true,
    "__WEB__": true,
    "__TEST__": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/core-modules": ["electron", "kakapoBridge"]
  },
  "rules": {
    "import/no-cycle": 0,
    "import/no-extraneous-dependencies": [
      2,
      { "devDependencies": ["**/*.spec.js", "{__tests__,jest,tools}/**/*.js", "app/browser.js"] }
    ],
    "jsx-a11y/anchor-is-valid": [1, { "aspects": ["invalidHref"] }],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-for": [2, { "required": { "every": ["id"] } }],
    "prettier/prettier": [0, { "singleQuote": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0
  },
  "plugins": ["react", "prettier", "import"]
}
