{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "__DEV__": true,
    "__DESKTOP__": true,
    "__WEB__": true
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "array-bracket-spacing": [2, "always"],
    "semi": [2, "always"],
    "comma-dangle": [2, "never"],
    "no-shadow": 0,
    "no-param-reassign": 0
  },
  "plugins": [
    "react"
  ]
}
