@import "hint.css/hint";
@import "animation";
@import "fonts";
@import "type";
@import "buttons";
@import "icons";
@import "input";
@import "switch";
@import "spinner";
@import "search";
@import "media";
@import "update";

.initial-loading {
  display: none;
}

body {
  margin: 0 auto;
  max-width: 100%;
  padding-top: 35px;
  color: #333;
}

section {
  lost-utility: clearfix;
}
