.hint,
[data-hint] {
  position: relative;
  display: inline-block;
}

.hint::before,
.hint::after,
[data-hint]::before,
[data-hint]::after {
  position: absolute;
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  transition: 0.3s ease;
  transition-delay: 0;
}

.hint:hover::before,
.hint:hover::after,
.hint:focus::before,
.hint:focus::after,
[data-hint]:hover::before,
[data-hint]:hover::after,
[data-hint]:focus::before,
[data-hint]:focus::after {
  visibility: visible;
  opacity: 1;
}

.hint:hover::before,
.hint:hover::after,
[data-hint]:hover::before,
[data-hint]:hover::after {
  transition-delay: 100ms;
}

.hint::before,
[data-hint]::before {
  content: "";
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}

.hint::after,
[data-hint]::after {
  content: attr(data-hint);
  background: #383838;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}

[data-hint=""]::before,
[data-hint=""]::after {
  display: none !important;
}

.hint--top-left::before {
  border-top-color: #383838;
}

.hint--top-right::before {
  border-top-color: #383838;
}

.hint--top::before {
  border-top-color: #383838;
}

.hint--bottom-left::before {
  border-bottom-color: #383838;
}

.hint--bottom-right::before {
  border-bottom-color: #383838;
}

.hint--bottom::before {
  border-bottom-color: #383838;
}

.hint--left::before {
  border-left-color: #383838;
}

.hint--right::before {
  border-right-color: #383838;
}

.hint--top::before {
  margin-bottom: -12px;
}

.hint--top::before,
.hint--top::after {
  bottom: 100%;
  left: 50%;
}

.hint--top::after,
.hint--top::before {
  transform: translateX(-50%);
}

.hint--top:hover::after,
.hint--top:hover::before,
.hint--top:focus::after,
.hint--top:focus::before {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -moz-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

.hint--bottom::before {
  margin-top: -12px;
}

.hint--bottom::before,
.hint--bottom::after {
  top: 100%;
  left: 50%;
}

.hint--bottom::after,
.hint--bottom::before {
  transform: translateX(-50%);
}

.hint--bottom:hover::after,
.hint--bottom:hover::before,
.hint--bottom:focus::after,
.hint--bottom:focus::before {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

.hint--right::before {
  margin-left: -12px;
  margin-bottom: -6px;
}

.hint--right::after {
  margin-bottom: -14px;
}

.hint--right::before,
.hint--right::after {
  left: 100%;
  bottom: 50%;
}

.hint--right:hover::after,
.hint--right:hover::before,
.hint--right:focus::after,
.hint--right:focus::before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}

.hint--left::before {
  margin-right: -12px;
  margin-bottom: -6px;
}

.hint--left::after {
  margin-bottom: -14px;
}

.hint--left::before,
.hint--left::after {
  right: 100%;
  bottom: 50%;
}

.hint--left:hover::after,
.hint--left:hover::before,
.hint--left:focus::after,
.hint--left:focus::before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}

.hint--top-left::before {
  margin-bottom: -12px;
}

.hint--top-left::before,
.hint--top-left::after {
  bottom: 100%;
  left: 50%;
}

.hint--top-left::after,
.hint--top-left::before {
  transform: translateX(-100%);
}

.hint--top-left::after {
  margin-left: 6px;
}

.hint--top-left:hover::after,
.hint--top-left:hover::before,
.hint--top-left:focus::after,
.hint--top-left:focus::before {
  -webkit-transform: translateX(-100%) translateY(-8px);
  -moz-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px);
}

.hint--top-right::before {
  margin-bottom: -12px;
}

.hint--top-right::before,
.hint--top-right::after {
  bottom: 100%;
  left: 50%;
}

.hint--top-right::after,
.hint--top-right::before {
  transform: translateX(0);
}

.hint--top-right::after {
  margin-left: -6px;
}

.hint--top-right:hover::after,
.hint--top-right:hover::before,
.hint--top-right:focus::after,
.hint--top-right:focus::before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hint--bottom-left::before {
  margin-top: -12px;
}

.hint--bottom-left::before,
.hint--bottom-left::after {
  top: 100%;
  left: 50%;
}

.hint--bottom-left::after,
.hint--bottom-left::before {
  transform: translateX(-100%);
}

.hint--bottom-left::after {
  margin-left: 6px;
}

.hint--bottom-left:hover::after,
.hint--bottom-left:hover::before,
.hint--bottom-left:focus::after,
.hint--bottom-left:focus::before {
  -webkit-transform: translateX(-100%) translateY(8px);
  -moz-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px);
}

.hint--bottom-right::before {
  margin-top: -12px;
}

.hint--bottom-right::before,
.hint--bottom-right::after {
  top: 100%;
  left: 50%;
}

.hint--bottom-right::after,
.hint--bottom-right::before {
  transform: translateX(0);
}

.hint--bottom-right::after {
  margin-left: -6px;
}

.hint--bottom-right:hover::after,
.hint--bottom-right:hover::before,
.hint--bottom-right:focus::after,
.hint--bottom-right:focus::before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}

.hint::after,
[data-hint]::after {
  text-shadow: 0 -1px 0 #000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
