i {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
}

.icon-logo {
  background-image: url("../../../build/icons/social/kakapo.png");
}

.icon-add {
  background-image: url("../../../build/icons/light/add.png");
  &.dark {
    background-image: url("../../../build/icons/dark/add.png");
  }
}

.icon-download {
  background-image: url("../../../build/icons/light/download.png");
  &.dark {
    background-image: url("../../../build/icons/dark/download.png");
  }
}

.icon-file,
.icon-custom {
  background-image: url("../../../build/icons/light/file.png");
  &.dark {
    background-image: url("../../../build/icons/dark/file.png");
  }
}

.icon-pencil {
  background-image: url("../../../build/icons/light/pencil.png");
  &.dark {
    background-image: url("../../../build/icons/dark/pencil.png");
  }
}

.icon-quit {
  background-image: url("../../../build/icons/light/quit.png");
  &.dark {
    background-image: url("../../../build/icons/dark/quit.png");
  }
}

.icon-settings {
  background-image: url("../../../build/icons/light/settings.png");
  &.dark {
    background-image: url("../../../build/icons/dark/settings.png");
  }
}

.icon-sound {
  background-image: url("../../../build/icons/light/sound.png");
  &.dark {
    background-image: url("../../../build/icons/dark/sound.png");
  }
}

.icon-share {
  background-image: url("../../../build/icons/light/share.png");
  &.dark {
    background-image: url("../../../build/icons/dark/share.png");
  }
}

.icon-tick {
  background-image: url("../../../build/icons/light/tick.png");
  &.dark {
    background-image: url("../../../build/icons/dark/tick.png");
  }
}

.icon-trash {
  background-image: url("../../../build/icons/light/trash.png");
  &.dark {
    background-image: url("../../../build/icons/dark/trash.png");
  }
}

.icon-playlist {
  background-image: url("../../../build/icons/light/playlist.png");
  &.dark {
    background-image: url("../../../build/icons/dark/playlist.png");
  }
}

.icon-github {
  background-image: url("../../../build/icons/social/github.png");
}

.icon-kakapo {
  background-image: url("../../../build/icons/social/kakapo.png");
}

.icon-soundcloud {
  background-image: url("../../../build/icons/social/soundcloud.png");
}

.icon-youtube {
  background-image: url("../../../build/icons/social/youtube.png");
}
