.media {
  .media-opts {
    background: #fff;
    overflow: hidden;
    position: relative;
  }
  .divider {
    display: none;
  }
  .add-sounds-title {
    display: none;
    @media (min-width: 40.0rem) {
      display: block;
    }
  }
  .option-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    @media (min-width: 40.0rem) {
      display: block;
    }
  }
  .option {
    display: inline-block;

    @media (min-width: 40.0rem) {
      margin-bottom: 1em;
      display: block;
    }
    span.text {
      font-size: 14px;
      line-height: 20px;
      display: none;

      @media (min-width: 40.0rem) {
        display: inline-block;
      }
    }
    i {
      margin-right: 14px;
      width: 42px;
      height: 42px;
    }
  }
}

.dropzone {
  border: 2px dotted #ccc;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 15px 10px;
  text-align: center;
  width: auto;
  &.active {
    border: 2px solid #333;
  }
}
