
.media {
  margin-top: 20px;
  .media-opts {
    background: #fff;
    overflow: hidden;
    position: relative;
  }
  .option-ul {
    margin: 0;
    padding: 0;
  }
  .option {
    display: inline-block;
    height: 98px;
    margin-bottom: 1em;
    padding: 1px;
    text-align: center;
    vertical-align: top;
    width: 32%;
    z-index: 999;
    span.text {
      display: block;
      font-size: 13px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 77px;
    }
    i {
      display: block;
      height: 54px;
      margin: 10px auto;
      vertical-align: top;
      width: 54px;
    }
    &.options-soundcloud {
      margin-bottom: 0;
    }
    @media (min-width: 568px) {
      &.options-youtube {
        margin-bottom: 0;
      }
    }
  }
}

.dropzone {
  border: 2px dotted #ccc;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 15px 10px;
  text-align: center;
  width: auto;
  &.active {
    border: 2px solid #333;
  }
}
