.modal {
  background-color: rgba(255, 255, 255, 0.97);
  bottom: 0;
  left: 0;
  padding: 15px 20px 20px;
  position: fixed;
  right: 0;
  top: 105px;
  z-index: 50;
  .close {
    position: absolute;
    right: 20px;
    z-index: 51;
  }
  .modal-inner {
    animation: scale-fade 300ms forwards cubic-bezier(.8, .02, .45, .91);
    transform-origin: bottom center;
  }
  form,
  button,
  &.youtube input,
  &.soundcloud input {
    margin-bottom: 0;
  }
  .kakapofavs-items,
  .soundcloud-items,
  .youtube-items {
    margin: 20px 0 0;
    max-height: 400px;
    overflow: scroll;
  }
  &.downloads {
    .input {
      width: 85%
    }
  }
}
