.modal-bg {
  background: transparent;
  bottom: 0;
  cursor: normal;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
}
.tri {
  border-color: transparent transparent #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  height: 0;
  left: 20px;
  position: fixed;
  top: 90px;
  width: 0;
  z-index: 50;
  @media (min-width: 550px) {
    top: 108px;
  }
  &.settings {
    right: 20px;
    left: initial;
  }
}
.modal {
  background: #fff;
  border-color: rgba(0,0,0,.2);
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  min-height: 345px;
  outline: none;
  overflow: hidden;
  position: fixed;
  right: 10px;
  top: 97px;
  width: 300px;
  z-index: 50;
  @media (min-width: 550px) {
    top: 115px;
  }
  .modal-inner {
    animation: scale-fade 300ms forwards cubic-bezier(.8, .02, .45, .91);
    background: #fff;
    margin: 0;
    min-height: 100px;
    padding-right: 27px;
    padding: 28px;
    text-align: left;
    transform-origin: bottom center;
    white-space: normal;
  }
  form,
  button,
  &.youtube input,
  &.soundcloud input {
    margin-bottom: 0;
  }
  .kakapofavs-items,
  .soundcloud-items,
  .youtube-items {
    margin: 10px 0 0;
    max-height: 400px;
    overflow: scroll;
  }
  &.downloads {
    left: 10px;
  }
}
