.youtube,
.soundcloud {
  .group {
    margin-bottom: 20px;
  }

  .spinner {
    bottom: 5px;
    height: 20px;
    margin: 0;
    position: absolute;
    right: 0;
    width: 20px;
  }
}

.kakapo-item {
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 40px;
  margin-bottom: 35px;

  img,
  i {
    height: 80px;
    max-width: 100%;
  }

  &.disabled,
  &.disabled img {
    color: #bbb;
    cursor: default;
    opacity: 0.5;
  }

  i {
    font-size: 50px;
  }

  .user-avatar img {
    border-radius: 50%;
    bottom: -2px;
    height: 36px;
    left: -6px;
    max-width: 100%;
    position: absolute;
  }

  .thumbnail {
    height: 40px;

    img {
      height: 40px;
      max-width: 100%;
    }
  }
}

.youtube-item,
.soundcloud-item {
  align-items: center;
  display: flex;
  margin-bottom: 10px;

  .thumbnail {
    height: 80px;
    margin-right: 1em;
    max-width: 110px;
    position: relative;

    img,
    i {
      height: 80px;
      max-width: 100%;
    }

    i {
      font-size: 50px;
    }

    .user-avatar img {
      border-radius: 50%;
      bottom: -2px;
      height: 36px;
      left: -6px;
      max-width: 100%;
      position: absolute;
    }

    .duration {
      background: #000;
      bottom: 0;
      color: #fff;
      font-size: 11px;
      letter-spacing: 0.15px;
      padding: 3px 4px;
      position: absolute;
      right: 0;
    }
  }

  .title {
    flex: 1;
  }

  .view-count {
    display: block;
    font-size: 11px;
  }
}
