/* https://raw.githubusercontent.com/devinhunt/typebase.css */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
}

/* Custom styling */
a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:active {
    color: inherit;
  }
}
hr {
  clear: both;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.input-add-on {
  display: flex;
  .input-add-on-field {
    flex: 1;
  }
}
