body {
  font-family: 'Avenir LT Std', 'Avenir Next LT Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {

}
a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:active {
    color: inherit;
  }
}
hr {
  clear: both;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.input-add-on {
  display: flex;
  .input-add-on-field {
    flex: 1;
  }
}
