.update-now,
.update-now:hover {
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.5em;
  text-align: center;

  &:hover {
    background-color: darken(#2ecc40, 5%);
  }
}
