header {
  height: 46px;
  margin: 0 auto;
  padding: 12px 0;
  position: fixed;
  top: 35px;
  width: 100%;
  z-index: 40;
  @media screen and (min-width: 35.5em) {
    height: 77px;
  }
}
.titlebar {
  .logo, a {
    color: #fff;
    float: left;
    font-size: .8em;
    text-align: center;
    width: 15%;
    @media (min-width: 568px) {
      padding-top: 15px;
    }
  }
  .logo {
    padding-top: 0;
    position: relative;
    top: 3px;
    width: 70%;
    @media (min-width: 568px) {
      top: 10px;
    }
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    span {
      margin-left: 8px;
      position: relative;
      top: -12px;
    }
    img {
      height: 42px;
      width: 42px;
    }
    @media (min-width: 568px) {
      font-size: 2rem;
      span {
        margin-left: 14px;
        top: -22px;
      }
      img {
        height: 62px;
        width: 62px;
      }
    }
  }
  i {
    display: block;
    margin: 7px;
    width: 27px;
    @media (min-width: 568px) {
      height: 32px;
      margin: 10px;
      width: 32px;
    }
    &.icon-settings {
      float: right;
    }
  }
}
