.header {
  margin: 0 auto;
  padding: 12px 0;
  z-index: 40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo {
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    flex: 1;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    span.logo-text {
      margin-left: 8px;
    }
    span.logo-bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 42px;
      width: 42px;
    }
  }

  .toggle-mute {
    font-size: 28px;
    padding: 0 7px;
    margin: 0 7px;
    i {
      vertical-align: middle;
    }
  }
}
