header {
  height: 46px;
  margin: 0 auto;
  padding: 12px 0;
  position: fixed;
  top: 35px;
  width: 100%;
  z-index: 40;

  @media screen and (min-width: 35.5em) {
    height: 77px;
  }
  .container {
    align-items: flex-start;
    display: flex;
  }
  .logo,
  a {
    color: #fff;
    flex: 1;
    float: left;
    font-size: 0.8em;
    text-align: center;

    @media (min-width: 568px) {
      padding-top: 15px;
    }
  }
  .logo {
    flex: none;
    margin-right: 35px;
    padding-top: 0;
    position: relative;
    top: 3px;
    width: 50%;

    @media (min-width: 568px) {
      margin-right: 35px;
      top: 10px;
      width: 70%;
    }
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    span.logo-text {
      margin-left: 8px;
      position: relative;
      top: -12px;
    }
    span.logo-bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 42px;
      width: 42px;
    }

    @media (min-width: 568px) {
      font-size: 2rem;
      span.logo-text {
        margin-left: 14px;
        top: -22px;
      }
      span.logo-bg {
        height: 62px;
        width: 62px;
      }
    }
  }
  i {
    display: block;
    margin: 7px;
    width: 27px;

    @media (min-width: 568px) {
      height: 32px;
      margin: 10px;
      width: 32px;
    }
    &.icon-settings {
      float: right;
    }
  }
  &.hideHint {
    .hint::before,
    [data-hint]::before,
    .hint::after,
    [data-hint]::after {
      display: none;
    }
  }
}
