
.item {
  background: #fff;
  cursor: pointer;
  height: auto;
  margin: 0;
  min-height: 47px;
  opacity: 1;
  padding: 20px 25px 20px 75px;
  position: relative;
  transition: opacity, background-color $animation-speed ease;
  &.youtube-stream & .app-container.web {
    min-height: 185px;
    * {
      z-index: 2;
    }
    input {
      position: relative;
    }
    .youtube-video {
      left: 0;
      opacity: .4;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
  img,
  .no-image {
    height: 44px;
    left: 12px;
    position: absolute;
    top: 23px;
    width: 44px;
  }
  .no-image {
    background: linear-gradient(to left, #232526 , #414345);
  }
  [type="range"] {
    display: none;
    margin: 0;
    width: 100%;
  }
  .title {
    display: block;
    font-size: 1.15em;
    margin-bottom: 9px;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin $animation-speed ease;
    white-space: nowrap;
  }
  .actions {
    list-style: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: opacity $animation-speed ease;
    li {
      float: left;
      margin: 0 15px 0 0;
      &:last-child {
        margin-right: 0;
      }
      i {
        float: left;
        height: 15px;
        width: 15px;
        &.icon-trash {
          width: 13px;
        }
        svg {
          fill: currentColor;
        }
      }
    }
  }
  &.editing {
    background-color: #efefef;
    padding: 20px 25px;
    form {
      margin-bottom: 0;
    }
    a {
      margin-bottom: 0;
      margin-right: 7px;
    }
    button {
      margin-bottom: 0;
      vertical-align: top;
    }
  }
  &:hover {
    .title {
      margin-right: 80px;
    }
    .actions {
      opacity: 1;
    }
  }
  &.paused {
    img,
    .title,
    input {
      opacity: .7;
    }
  }
  &.playing {
    [type=range] {
      display: block;
    }
  }
}

:root {
  --volumeColor: white;
}

[type=range] {
  -webkit-appearance: none;
  margin: 7px 0;
  width: 100%;
  &:focus {
    outline: none;
    &::-webkit-slider-runnable-track {
      background: var(--volumeColor);
    }
    &::-ms-fill-lower {
      background: var(--volumeColor);
    }
    &::-ms-fill-upper {
      background: var(--volumeColor);
    }
  }
  &::-webkit-slider-runnable-track {
    background: var(--volumeColor);
    cursor: pointer;
    height: 2px;
    width: 100%;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--volumeColor);
    cursor: pointer;
    height: 14px;
    margin-top: -6px;
    width: 3px;
  }
  &::-moz-range-track {
    background: var(--volumeColor);
    cursor: pointer;
    height: 3px;
    width: 100%;
  }
  &::-moz-range-thumb {
    background: var(--volumeColor);
    cursor: pointer;
    height: 17px;
    width: 5px;
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 3px;
    width: 100%;
  }
  &::-ms-fill-lower {
    background: var(--volumeColor);
  }
  &::-ms-fill-upper {
    background: var(--volumeColor);
  }
  &::-ms-thumb {
    background: var(--volumeColor);
    border: 0 solid var(--volumeColor);
    cursor: pointer;
    height: 3px;
    width: 5px;
  }
}
