.progress-bar {
  pointer-events: none;
  .bar {
    background: #29d;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 200ms ease;
    width: 100%;
    z-index: 1031;
  }
  .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0, -4px);
    width: 100px;
  }
  &.finish {
    .bar {
      background: #4CAF50;
    }
  }
}
