.sound-list {
  lost-column: 1/2;
  overflow: hidden;

  @media (max-width: 40rem) {
    width: 100%;
  }

  &:first-child {
    border-top: none;
  }

  > div {
    position: relative;
  }
}

.app-container.desktop {
  .sound-list {
    lost-column: 1 0 0;
  }
}
