.topbar {
  color: #fff;
  font-size: 13px;
  height: 20px;
  overflow: hidden;
  padding: 8px 0 7px;
  text-align: center;
  z-index: 40;
  position: fixed;
  top: 0;
  width: 100%;

  .download-app {
    left: 35px;
    position: absolute;
    width: calc(100% - 35px);
    display: none;
  }

  .drag {
    -webkit-app-region: drag;
    height: 35px;
    left: 33px;
    position: absolute;
    top: 0;
    width: 220px;
  }

  .share {
    float: right;
    margin-right: 10px;

    .fb_iframe_widget {
      top: -6px;
      margin-right: 8px;
    }
  }

  .twitter,
  .facebook,
  .email,
  .github,
  .mute {
    background-position: 50%;
    background-size: contain;
    float: left;
    height: 16px;
    width: 16px;
  }

  .twitter {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACKElEQVRYR92XjU3cQBSEZyogHSQdQCoIqSB0EFIBUAGkAqCCQAWBCoAKclcBUAFQwYs+WF/WP2d7HSwknmTdoVu/mZ33i/XG5jfG1/siEBG7kr5L2k7KLiRdS/pp+zFXOyK2bV+vFOBl22dTQhIRW5J+SeKzywA/kHQh6ZskiN7b3n0mEBE7kn5L+lFKIiI+SPoj6VMB+SfOo0pF4EjSYXKwb/t0rLOIQDVkH2v3kvYlbUhyRaDpBKlQoxa3JkK6/cNY5Ma5JbnSpUB1DnDUOF8HQCJJuppA4AU8C0GVA12+7iQddRGJCKQ8LiSwtL1K1rwKAPrY4wxFKCmehe2bLHlLONzYrsr0XyP6DzlLwDnbJhARVMGtpM+pRsnQuezUNqF7tioJTyTtzYXY8HtgG7wagb4kfG1eX2nBNQL8ERH07c3XRmv4e7JN51xZXgWUBszmjP85/b+TQFIBEnTFuZSoyb9KwopRaq1IRFV8KRwwQ9Fj+rUGVm0hSQRoSHOEoXX7lgIpDPlkHLrV2N8vbVNpLetcySaM2D4izP4t2yg7jkBSgmxFjb75MEaBTulbfWCdp4ggcagMkrLUBjes3q04TTvGbcm6BUlkZ5cY3DFbBNJU5LaEoBQYcFauHdt01kFzuiXTaYrEOQC3ZsicDK1y+Uu1tTzdupQIN0bqs3WZ3idDVwiQnY2Fh+88eSWwz1FSSHwxVup1JN7Xv2aDGVfSiKY4m/LOXzTKwIs1oJ1rAAAAAElFTkSuQmCC");
    right: 86px;
  }

  .facebook {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA6ElEQVRYR+2V4Q0BQRCF3+tACUqgAlRACXSgA1QgOtCCCpwOdCIqeLJylyz27N7tyUUy83sy8/LN27dEy5I0BDAHsAAwAjAIjNqR3H5bwTb7JS0B7GuW+iO7FyBpCuCcKPwnAgoAk14ESHJ3viUud23dEkjAfwJw9QQWJB2x2mpkwoiAA8l1AzrP1i4FRHGHxJmAKIHy7tWzc+nnQihUzmzvhrtkm1CSi9JNU3OV/SuSx6xXkClg1jeBMUk/Fz5gpHig9QlIRudHGzJOcCcZ+qJfKEQF+N2RJLQgMgJGwAgYASNgBP6TwANlQ6Mh4WH3ygAAAABJRU5ErkJggg==");
    right: 62px;
  }

  .email {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB4ElEQVRYR+2W0VXCQBBF31SgHWgH2oFagVKBUIFYgViBUIFQgVKB0gF2oB1oBeO5e3Y5AUOyQiA/7E9C2OzcffNmsqaWh7UcXweA9hVw976k65a8MAsKuPtA0sOeISZm1jV3H3Pj7l1JQ0lHewDpmdnY3YcAuKR3SR1Jp/F+VxA/ki4lfUp6lnSTANg0D4HgCtBZw0p8EDCu+SLpnPsiAL+/JfUiAOm4bQhiKokUE5Tgx2ndVYD0vG9mo1ghT1tCjMysHz2G7EtjHQCTMGfP3ZFtvIE5yTcbwWy8X6pmFQAQc0lX0Zyvkk4y1SiaDckxXumoA0i+AAJzAnFRA4HZCEhFIXkw2zYACeK+Tk5JE2SPAARfmG1bACTtmhkK0Dlx9KqhAKRy0v9ZTS0nBUhKQFLwFq+UKtIGoAQXzYZPUlOr9U0dwCw2D/JJ8CQp5uyYGVDsmOf8n/Kd3dSqACrrNzatpACluppvmlqtb8oAivVLHu8yS2/dtIGZPeY2oq8oORJW1u8/oVAK3/z52BUVKNYvwZnc5MA3QCx97BJAOBxEmej9tfW7IVn42FHOqT0DQH2Hw0ED+c7lWvgCAHYbDge5bzc0L/gCAHZe2a8bCli2zLz9Y/kOd5e19EGB1hX4Bdv47+Kibb/fAAAAAElFTkSuQmCC");
    right: 38px;
  }

  .github {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACOUlEQVRYR+2X4XETQQyF36sAqACoAKgAXAGhAkgF0AFJBcQVABVAKkhcAaSDpANTgZjv2L1Zr/d8Ps8R8wPNeDxjr6QnrfSktY4sPrJ//TsAIuJE0jdJt5KuJS1t/5wjQxHxXNJ7Sa8kPZH0xvZ3bPcZiIgvkt5WDgFyahtQkyUicPY5OS71v9p+VwPA2csBLxeS1oUhImkJNhC+H0r6MHBuZbuzUWYgJod4uMLa9qMaAGl+fLjNSZp3trmejQzsuoJJ1vc43LyCM0kf91Ce48i5bfz9yUCq1h+pcOZwMGaDgn5qe50B3Gf6M7hr2wtHBO1wNQb5L/3fAaDHYaljyBIAx0h/DnYFgCECupFEpXJXFE0nEQHDwe1bYjszYT5Lr3PF2GlyzBCAnqvnuJcEGnDPanstADe2+wjTJGNKIkyxnRNy6HxqdXQflCAAQHrLH/tRmVLO2HydlC5tM7YHJSIGzzcK/m6rCG1vLCl1jdT/10h2nW+0fFeEG214zwDOt4ioAWDOK6hJb5GpuBzFi7KdUlF165Okkz2LsHk+IlhQPiVb3UjOAFiPWJ2QWVuwrJGIoAtyK3bFXm5EJSO+GIt0Kj9U0Td3QhiO1LEX0ppntpdTHTW6ArvsGXk/XKWr7Nh1610QEeViQm0AiuygAEn1tNwClwgH2s00DG8AAukXkazbfJgkIwBBeYO5DsjIL0ms/Bet9X70ZZTIIz8oiIrP0PLKACNDZI6CY5DtpO5RAAdEPEnlP4Df4xUQ/z6LbC0AAAAASUVORK5CYII=");
    right: 10px;
  }

  &.dark {
    .twitter {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB9klEQVRYR+2WjTEDQRiGn1RAB3SAClABHaACVIAKUAEqQAWiAlSACkQH5sncZu4um9vbNTeZMXZmJ8nlu33ffb/fEUteoyXj8+cIHAIHwE6l7CswBi6ASUttbcZ1BXz5ttAlm8AN4GdsCX4KPAB7gFiffgYC+8A9cFRAYhV4AdYzyH9X9pNA4Bw4qw44Aa4zDlM1Ze+7vLkYK8AoEGgfolSq0fZbG8Tbf/VFbtm9GSsxBYKd4DK96wAwkJ4KCEzBvWA7BmJnfQC6KEZEgpeZBASfBWs9CwRa6zhMRUwpt+n1DITgzeHgeyFNG4WoVM4ccG2jBJT4HdiqctQIHWqZYbpuuoILroDjoRBb51qQxGsQKPFlKd/dKo4aBPxhYG2UntrzPSugtWO26llgahjhQ/rfVLYPRAn4UBJWxaGUaMhfD8LASHncZsV2ZoNJecEeMNew2gOJ4BakIdwwd/uYAj6rd8bUrfr+/1hVzTn7RSNZbovtImLkG1sq25uAhkaranT1hz4KRKUPL/YZSg0cFTEoc1dywkoRsELabnPGLUkqu/U+OWPGCNgVva0uyAUW3HSTuJU1uSSgsWxLJK4DeGubjDs1ykUroTd25xLxxkrtjkZ6lwwxFyi7bnD73V3PBEcqgZTY4bWX1ItIpIIw6cPfGvwT+AHOYVqRaS3hRAAAAABJRU5ErkJggg==");
    }

    .facebook {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA0UlEQVRYR+2VWw3CQBBFTx0gAQmgAFAAEsABDgAFBAe1UAWAA5wQHJAhJWnabXf20fRnJtm/yczN2bt3C+JrDmyBHbAAZo5RF+A8tKKI3L8Hrj1LmyNHEbAG7krhowh4AKupBMg9v5XLpS07AR/+Cng1BAotOb0VasIhATfgGEDn15pTgBe3S5wJ0BCQe/8/O0k/CSFXuQz3zGFCidJTqLnq/gNQpr6CFAGbqQksW7nQgaHxQAoB73xvQ/2dxnjgo/gtLYiMgBEwAkbACBgBI8AX0q1DIQRUgEkAAAAASUVORK5CYII=");
    }

    .email {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAByklEQVRYR+2W4VHCQBBGHxVoB9qBdqBWoFaAVqBWoFYgVqBWoFagdIAdaAdagc5jbpkAIRckEH5wM5kcIbl99+23m3RoeXRajs8GYC0UuASOW/JCPxS4Aa5XDPEEnAnw6CQdPWBrBSDnKW5PgF/gHTgFdtN8WRA/wCHwCTwAJwHgpr0ohGeB9hpW4sOAac1nYN95EcDf34DyCGA6ug1BvKYUG9Tg27HuJEBctzLuAc93C0LEOvpM2cfGLABv0pyqoWzO5/WF+XYDPutRqmYVgBAD4CiZ8wXYqalG0WxKrvFKRw4gfCGE5hTiIAOh2QxoRSn50GyLAATEVU5OwOai7AIYfGS2RQGUVBOpgKPMUAJaOfF/raZWJwVKakBT8JbOmlNpi0DONZs+iaaW9U0OoJ+qwHwaPCTVnNG03LHX/T/yXbupVQFU1m9qWqGApTqZb5ta1jdlAMX6NY8XNUtv1m2+aW9n+GaqFX8lyZWwsn7nhFIpfTP1sisqUKxfg3tzk0PfCDH2sguA4cdBOuz92fr9J1m87KJiugIY2PJpIt91uUa+EMDdDj8O6j7d0H1DXwjgziv7dUMBy5YZrMVn+RI3mF96o0DrCvwBGyx1IaPtkaoAAAAASUVORK5CYII=");
    }

    .github {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACDElEQVRYR+2X4TEEQRCF30WACBABIuAiQASIgAy4CLgIEAEi4CJABi4DIqC+qemtvqmZ3b21deuH/uPKTXe/7nn9pm+kgW00cH79KQBHkh4kfUh6kTSV9NZTh3YlnUs6kLQl6VjSI7F9B+4knSQJAXIWQXXBQrLbmNj730s6TQGQbL+Q5UbSpwtEJTkjBsbfdUkXhXMzi+U78N2lxI4+FLORdoC73+wYcFm3eeTCAgfqrmDZBE3ns1dwJemyybOn7yeSyFd1ALa+RuL0lKM2DBzYhthGwlW235CRcwwARup5FWVncgQAzDgqNYRNATBE+63YGQBKAvQemQpASGOGwqHtOTMltO8gN1cM47MaUwJQaXVP9wJowO2k8XIAqNxXyGdeSYxXrOmFLJ2nG/iueRAAoL3+n9VTGQ/ybB7Gz0+SeLbrrO58Svh5joTpkpJypGmJqTufjnwgYYpqlQAmOSFKAfR5BWkHghBh/ikeR8baPUOqsD7F+29DwtJ5FpTrGCs8yQaA9YjVCet7BD1hAW+jGMju2+0Vca/FuC0rEb767E6IWNA69kJGE/ViM/6tEZc9w/ZDlhFGOahrbqT8YgI3AGVyjEh5Wc6BQ3CQXZNhkgECqxYRcyzNNM4AwXlBuTq040sSKz/jTkEL1iQqHGZ07AcFwKzCHBbrEIkgHJ2rnZo2ADoU3d7lH8AP6D1yDv4G6KIAAAAASUVORK5CYII=");
    }
  }
}

@media (min-width: 40rem) {
  .topbar {
    .download-app {
      display: block;
    }
  }
}
