.downloads {
  .download-wrap {
    flex: 1;
  }
}

.download-wrap {
  display: block;
  margin-top: 20px;
  h5 {
    margin-bottom: 1rem;
  }
}

.download-list {
  > div {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    &.active {
      animation: barberpole .5s linear infinite;
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
      background-size: 30px 30px;
    }
    .icon-tick {
      margin-right: 20px;
      svg {
        fill: #8bc34a;
      }
    }
    .preview {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 80px;
      margin-right: 12px;
      width: 80px;
    }
    .title {
      flex: 1;
    }
  }
}
