.download-list {
  > div {
    align-items: center;
    background-color: #444;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    color: #fff;
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    .preview,
    .no-image {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 30px;
      margin: 5px 12px 5px 5px;
      width: 30px;
    }

    .no-image {
      background: linear-gradient(to left, #232526, #414345);
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      width: 200px;
    }
  }
}
